<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
	<div style="padding-left: 250px; padding-top: 50px;">
		<form method = "POST">
			<table>
				${ form }		
			</table>
			<br>
			<div style="padding-left:45px">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="/password_reset/" class="btn btn-danger">Change Password</a>
				<a href="/homepage/index/${ user.id }/" class="btn btn-danger">Cancel</a>
			</div>
	    </form>
	    
	</div>
</%block>