<%inherit file="/homepage/templates/base.htm" />

<%block name="content">
    <div class="content">
      <h3>50th Anniversary!</h3>
      <p> Gove Allen just announced Colonial Heritage foundation''s 50th anniversary event. It will be the biggest event that Colonial Heritage have ever held. Colonial Heritage was just announced as the largest and fastest growing non-profit organization ever!! </p> 
      <img src="http://i.ytimg.com/vi/XIK7d5mpY2Q/0.jpg" style="margin-left: 200px;">
      <p> The event is being held at the lavell Edwards football stadium:
      <ul>
      	<li>1700 North Canyon Road<br>
			Provo, UT 84604<br>
			United States<br>
		</li>
	  </ul>

	  Here are some of the cool handcrafted items that you will be able to purchase the event:
	  <ul>
	  	<li>Personalized Mugs</li>
	  	<li>Embroidered Guns</li>
	  	<li>Chicken Feet</li>
	  	<li>real leather belts</li>
	  	<li>hand knit socks</li>
	  	<li>colonial wigs</li>
	  </ul>
    </div>
</%block>