<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="content">
	<table id="shopping_table" class="table table-condensed">	
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Quantity</th>
			<th>Action</th>		
		</tr>
	%for item in items:
		<tr>
			<td>${item.id}</td>
			<td>${item.name}</td>				
			<td>${qty[0]}</td>				
			<td>
				<a href="/shopping/shopping_cart.delete/${user.id}/" class="btn btn-xs btn-danger">Delete</a> 
			</td>
		</tr>
	%endfor
	</table>
	%if request.user.is_authenticated():
          <a href="/shopping/index.checkout/" class="btn btn-warning" style="float: right;" >Checkout</a>
        %else:
        %endif		
</%block>	

