<%inherit file="base.htm" />

<%block name="content">
	<br>
	<div class="text-left">
		<a href="/homepage/users.create/" class="btn btn-success">Create New User</a>
	</div>
	<br>
	<table id="users_table" class = "table table-striped table-bordered">	
		<tr>
			<th>ID</th>
			<th>User Name</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Actions</th>		
		</tr>
		%for user in all_users:
			<tr>
				<td>${user.id}</td>
				<td>${user.username}</td>
				<td>${user.first_name}</td>
				<td>${user.last_name}</td>
				<td>${user.email}</td>
				<td>
				<a href="/homepage/users.edit/${user.id}/" class="btn btn-xs btn-danger">Edit</a> 
				</td>			
			</tr>			
		%endfor	
	</table>		
</%block>	