.item_container{
	display: inline-block;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: 350px;
	vertical-align: top;
	min-height: 275px;
	text-align: center;
}

.rental_picture {
	max-width: 150px;
	max-height: 150px;
	text-align: center;
	float: left;
}
.rental_name{
	font-weight: bold;
	font-size: 18pt;
}
.rental_description{
	font-size: 12pt;
}
.rental_price{
	font-size: 16pt;
	text-align: center;
}
input{
	color:black;
}
.modal-title{
	color:black;
}
.modal-body{
	color:black;
}
.jquery-loadmodal-js{
background-color: rgba(255,255,255,0.5);
}